<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Web Bán Sách</title>
  <th:block th:replace="layout :: header"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<a>Trang chủ của book</a>

<table class="table">
  <tr>
    <th>Account ID</th>
    <th>Name</th>
    <th>Contact</th>
    <th>Address</th>
    <th>Is verified</th>
    <th>Role</th>
  </tr>
  <tr th:each="account: ${accounts}">
    <td th:text="1"></td>
    <td th:text="Lê Quốc Tích"></td>
    <td th:text="0865559872"></td>
    <td th:text="TP.HCM"></td>
    <td th:text="True"></td>
    <td th:text="True"></td>
  </tr>
</table>

<th:block th:replace="layout::footer"></th:block>
</body>
</html>